@-webkit-keyframes AnimationName {
    0%{background-position:0% 74%}
    50%{background-position:100% 27%}
    100%{background-position:0% 74%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 74%}
    50%{background-position:100% 27%}
    100%{background-position:0% 74%}
}
@keyframes AnimationName {
    0%{background-position:0% 74%}
    50%{background-position:100% 27%}
    100%{background-position:0% 74%}
}

.onboarding {

    background: linear-gradient(290deg, #030a21, #0e1c3e, #081b48, #3e3970, #47467a);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 26s ease infinite;
    -moz-animation: AnimationName 26s ease infinite;
    animation: AnimationName 26s ease infinite;


    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;


    .wrapper {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__image {
            
            text-align: center;

            img {
                width: 40%;
            }
        }

        &__description {

            width: 375px;
            text-align: center;
            margin-bottom: 20px;
        }
    }

}