@import "settings/settings_main.scss";




@-webkit-keyframes AnimationName {
    0%{background-position:0% 45%}
    50%{background-position:100% 56%}
    100%{background-position:0% 45%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 45%}
    50%{background-position:100% 56%}
    100%{background-position:0% 45%}
}
@keyframes AnimationName {
    0%{background-position:0% 45%}
    50%{background-position:100% 56%}
    100%{background-position:0% 45%}
}

@keyframes PulseUp {
    0% { -webkit-transform: scale(1)}
    70% {-webkit-transform: scale(1.09)}
    100% {-webkit-transform: scale(1.07)}
}


.home {


    .hero {
        background: url("full-blur-bg.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment: fixed;
        height: 400px;


        .cta-wrapper {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: center;
            height: 100%;

            h1 {
                line-height: 1.1;
                color: #fff;
                width: 650px;
                text-transform: initial;
                margin-bottom: 30px;
            }
        }
    }

    .about {

        background: linear-gradient(204deg, #007eb8, #543dff, #5c52a7, #0037ff);
        background-size: 800% 800%;
        height: 400px;

        .graphic-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            .graphic {

                cursor: pointer;
                transition: opacity 300ms;

                &__icon {
                    text-align: center;
                    
                    img {
                        width: 60%;
                    }

                    img:hover {
                        -webkit-animation: PulseUp 400ms ease;
                        -moz-animation: PulseUp 400ms ease;
                        animation: PulseUp 400ms ease;
                        animation-fill-mode: forwards;
                    }
                }

                &__sub {

                    text-align: center;
                    color: #fff;
                }
            }
        }
    }

    .closing {

        display: flex;
        height: 350px;
        margin-bottom: 200px;

        .signup-cta {
            background-color: #1A1A1A;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;

            &__wrapper {
                width: 80%;

                h1 {
                    font-size: 2.1em;
                    line-height: 1;
                }

                p {
                    margin-top: 8px;
                    margin-bottom: 20px;
                    opacity: 0.8;
                }

            }
        }

        .testimonial {
            background-color: #CCCCCC;
            min-width: 50vw;

            &__wrapper {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                article {
                    background-color: #fff;
                    display: flex;
                    width: 75%;
                    border-radius: 15px;

                    .dp {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        width: 160px;

                        img {
                            width: 65%;
                            margin-left: 15px;
                        }
                    }

                    .snippet {

                        width: 85%;

                        h3 {
                            font-size: 1em;
                        }
                
                    }
                }
            }
        }
    }
}