@import "settings/settings_main.scss";

.grad-stroke-btn {
    background: none;
    color: #fff;
    padding: 7px 100px;
    border-radius: 3px;
    cursor: pointer;
}

.signup__form__btn {
    text-align: center;
    margin-top: 35px;
}

.login__form__btn {
    text-align: center;
    margin-top: 35px;
}

.prim-btn {
    padding: 7px 20px;
    border: none;
    border-radius: 3px;
    background-image: linear-gradient(to bottom right, $purple, $blue);
    color: #fff;
    cursor: pointer;
    font-size: 13px;

    transition: opacity 300ms;
}

.prim-btn:hover {
    opacity: 0.8;
}