footer {

    background: url("full-onboard-bg.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;

    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 13%;
    }
}