<main class="login">
    <section class="login__form">
        <div class="login__form__title">
            <h2>Login</h2>
        </div>
        <div class="login__form__fields">
            <form action="">
                <div class="form-fields-wrapper">
                    <div class="form-field-wrapper">
                        <label for="email">email</label>
                        <input type="teemailxt" name="email" placeholder="enter email">
                    </div>
                    <div class="form-field-wrapper">
                        <label for="password">password</label>
                        <input type="password" name="password" placeholder="enter password">
                    </div>
                </div>
                 <div class="login__form__btn">
                    <button class="grad-stroke-btn">login</button>
                </div>
                <div class="login__form__divert">
                    <span>Don't have an account? </span><a href="/signup">Signup now</a>
                </div>
            </form>
        </div>
    </section>
</main>