<main class="login">
    <section class="login__form">
        <div class="login__form__title">
            <h1>Login</h1>
        </div>
        <div class="login__form__fields">
            <form action="">
                <label for="email">email</label>
                <input type="text" name="email" placeholder="enter email">
                <label for="password">password</label>
                <input type="password" name="password" placeholder="enter password">
            </form>
        </div>
        <div class="login__form__btn">
            <button class="grad-stroke-btn">next</button>
        </div>
    </section>
</main>