<main class="onboarding">

    <section class="wrapper">
        <div class="wrapper__image">
            <%=image_tag("onboard-icon.png")%>
        </div>
        <div class="wrapper__description">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
        </div>
        <div class="wrapper__btn">
            <a href="/"><button class="grad-stroke-btn">start finding buddies</button></a>
        </div>
    </section>

</main>
