<main class="onboarding">

    <section class="wrapper">
        <div class="wrapper__image">
            <%=image_tag("onboard-icon.png")%>
        </div>
        <div class="wrapper__description">
            <p>Great! You're ready to start finding events and likeminded buddies to join you on your night out. Click below to sign in.</p>
        </div>
        <div class="wrapper__btn">
            <a href="/login"><button class="grad-stroke-btn">Sign in</button></a>
        </div>
    </section>

</main>
