<main class="profile">

    <header class="profile__hero">
        <div class="user-details">
            <div class="user-details__profile">
                <%=image_tag("face.png")%>
                <a href="/profile/edit">edit account</a>
            </div>
            <div class="user-details__name">
                <h1>Chad Smith</h1>
                <form action="">
                    <input type="text" placeholder="Create a bio...">
                </form>
            </div>
        </div>
    </header>

    <section class="carousel">
        <h3>Upcoming Events</h3>
        <div class="article-wrapper">
            <article class="event-article">
                <div class="event-article__img-wrapper">
                    <%=image_tag("thumb.jpg")%>
                </div>
                <div class="event-article__details">
                    <div class="title-location">
                        <h4>Flight Facilities</h4>
                        <span>Corner Hotel</span><span> • </span><span>24 potential buddies</span>
                    </div>
                    <div class="date">
                        <p>26 Nov</p>
                    </div>
                </div>
            </article>
        </div>
    </section>


</main>